.balls-container {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 100px;

  font-size: 18px;

  .time,
  .balls {
    position: relative;

    .balls-description,
    .time-description {
      margin-bottom: 10px;
    }

    .balls-value,
    .time-value {
      position: absolute;
      top: 57%;
      left: 50%;

      transform: translate(-50%, -50%);
    }

    .time-value {
      font-size: 30px;
      color: #3498db;
    }

    .balls-value {
      font-size: 30px;
      color: #e67e22;
    }
  }

  img {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 930px) and (min-width: 100px) {
  .victorina {
    font-size: 16px;
  }

  .balls-container {
    margin-top: 0;
    gap: 20px;

    .time,
    .balls {
      .time-value,
      .balls-value {
        font-size: 20px;
      }
    }

    img {
      width: 85px;
      height: 85px;
    }
  }
}
